@import "../../_variables.scss";

.resume-sections {
    &.secondary-sections .section .header .title {
        font-size: 2rem;
        
        @media (min-width: 992px) {
            font-size: 1.5rem;
        }
    }
}

.mobile-photo {
    display: contents;
    
    @media (min-width: 992px) {
        display: none;
    }
}

.name-section {
    display: none;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Unbounded', sans-serif;
    color: #9fa8da;

    @media (min-width: 992px) {
        display: contents;
    }
}