@import "./../../_variables.scss";

.tool {
    & > .tool-badge {
        background-color: $bg-secondary-badge-color !important;
        color: $text-secondary-badge-color !important;
        border:1px solid $text-secondary-badge-color;
    }
}