$background-color: #f0f0f0;
$border-color: #dcdcdc;
$content-border-color: #9fa8da;
$title-color: #212121;
$content-color: white;
$link-color: #8c8c8c;
$link-hover-color: $content-border-color;

$primary-gradient-color: #7986cb;
$secondary-gradient-color: #e1bee7;

$bg-primary-badge-color: $content-border-color;
$bg-secondary-badge-color: $content-color;
$text-secondary-badge-color: $content-border-color;